//-ARTICLE

div.entry-content {
    margin-bottom: 50px;

    p {
        font-size: 1.5em;
    }
}

div.wrap.wrap-post {
    max-width: 1250px !important;
}

#primary.content-area {
    max-width: 1000px !important;
}