//////////////////
//- ğ—™ğ—¢ğ—¢ğ—§ğ—˜ğ—¥
footer#colophon.site-footer {
  margin-top: -1px !important; //HACK: temporary fix to get rid of slight gap between foot and content
  background: black!important;
}

@import "mail-chimp";
@import "footer-links";