//- ùó†ùóîùóúùóü ùóñùóõùóúùó†ùó£


//-  Sign-up Newsletter
div#mail-chimp-signup {
  padding: 75px 5px 100px 10px;
  background-color: black !important;
  color: white;
  display: flex;
  margin-top: 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  @include breakpoint(phone) {
    padding: 75px 0 70px 0;
    padding-bottom: 0;
  }


  form {
    @include breakpoint(phone) {
      width: 100%;
      margin-bottom: 80px;

    }

    div#mail-chimp-signup_scroll {

      label {
        text-align: left;
        font-weight: bolder;
        font-size: 4em;
        margin-left: -50px;
        color: white;

        @include breakpoint(phone) {
          margin-left: 10px;
          text-align: center;
          margin-bottom: 35px;
        }
      }

      /// end of label

      input.email {
        border-radius: 0px !important;
        border: none;
        padding: 25px 10px;
        min-width: 50vw;

        @include breakpoint(phone) {
          height: 80px;
          margin-bottom: -1px;
        }

      }

      /// input end

      div.clear {

        input.sign-up-button {

          background: yellow;
          border-radius: 0 !important;
          color: black;
          text-transform: uppercase;
          font-size: 20px !important;
          transition: all 0.6s $AniCurve !important;
          height: 52px;
          padding: 0 25px;

          @include breakpoint(phone) {
            width: 100vw;
            height: 120px;
            margin-bottom: 0;
          }

          &:hover {
            background: $black !important;
            border-radius: 0px !important;
            color: white;
            font-size: 25px !important;
            transition: all 0.3s $AniCurve !important;
          }

          &:active {
            background: $blue !important;
          }

          &:focus {
            background: $blue !important;
          }
        }

        /// button submit end
      }

      /// div clear end
    }

    /// end of signup scroll
  }

  /// end of form







}

////////// End of Mail Chimp embed



/////// MAIL CHIMP EMBED DEFAULTS


#mail-chimp-signup form {
  text-align: center;
  padding: 10px 0 10px 0;
}

.mc-field-group {
  display: inline-block;
}

/* positions input field horizontally */

#mail-chimp-signup {
  input.email {
    font-size: 1em;
    border: 1px solid #ABB0B2;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
  }

  label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .clear {
    display: inline-block;
  }

  .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;

    &:hover {
      background-color: #777;
      cursor: pointer;
    }
  }

  div {
    &#mce-responses {
      float: left;
      top: -1.4em;
      padding: 0em .5em 0em .5em;
      overflow: hidden;
      width: 90%;
      margin: 0 5%;
      clear: both;
    }

    &.response {
      margin: 1em 0;
      padding: 1em .5em .5em 0;
      font-weight: bold;
      float: left;
      top: -1.5em;
      z-index: 1;
      width: 80%;
    }
  }

  #mce-error-response {
    display: none;
  }

  #mce-success-response {
    color: #529214;
    display: none;
  }

  label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
  }
}

/* positions button horizontally in line with input */

@media (max-width: 768px) {
  #mail-chimp-signup {
    input.email {
      width: 100%;
      margin-bottom: 5px;
    }

    .clear {
      display: block;
      width: 100%;
    }

    .button {
      width: 100%;
      margin: 0;
    }
  }
}