//- Case Study Box

html {
    scroll-behavior: smooth;
}

.case-study.wrap {
    position: relative;
    max-width: 100vw;
    padding: 0;
    overflow: hidden;

    section.case-study-box {
        position: relative;
        height: 90vh;
        overflow: hidden;
        clip-path: polygon(0 calc(0% + 10vw),
            100% 0,
            100% 100%,
            0 100%);
        margin-bottom: -10vw;
        @include center-flex;

        @include breakpoint(phone) {
            height: 60vh;
        }

        a.text-container {
            display: block;
            position: relative;
            top: 0px;
            padding: 25px;
            padding-top: 70px;
            z-index: 5;
            align-self: flex-start;

            h2.case-study-title {
                color: white;


                span.title {
                    background: $black;
                    @include span-shadow-title;
                    font-size: 2em;
                    font-weight: 600;
                    @include ani-3ms;
                    will-change: box-shadow;
                }
            }

            h3.case-study-subheading {
                color: white;

                span {
                    background: $black;
                    @include span-shadow-subheading;
                    @include ani-3ms;
                    will-change: box-shadow;
                }
            }

            &:hover {
                h2.case-study-title {
                    span.title {
                        @include ani-5ms;
                        @include span-shadow-title-hover;

                        @include breakpoint(phone) {}
                    }
                }

                h3.case-study-subheading {
                    span {
                        @include span-shadow-subheading-hover;
                        @include ani-5ms;

                        @include breakpoint(phone) {}
                    }
                }

                &+div.img-container {
                    img.section-img {

                        transform: translate(0px, 0px);
                        @include ani-8ms;
                        filter: blur(0px);


                        // transition: transform 0.7s $AniCurve;
                        @include breakpoint(phone) {
                            // transform: translate(0px, 0px);
                        }

                    }
                }

            }

            /// end of hover

        }

        /// End of a.text-container

        div.img-container {
            position: absolute;
            width: 100%;
            height: 100%;


            img.section-img {
                will-change: transform;
                // min-width: 110%;
                // height: auto;
                object-fit: cover;
                z-index: 0;
                position: absolute;
                top: 0;
                min-height: 110%;
                min-width: calc(110% + 100px);
                filter: blur(2.5px);
                transform: translate(-100px, 0);
                will-change: blur, transform;
                @include ani-5ms;


            }
        }

        /// end of image-container

        div.overlay {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.4) 1px 10px 20px inset;

        }

        /// div.overlay
    }

    /// section.case-study-box

}