//- Case Study Article

#page.site {
    background: white !important; //HACK: doing this to make sure the post background is white
    transition: .4s;
}

html.is-animating #page.site {
    background: black !important; //HACK: doing this to make sure the post background is white
    transition: .4s;
}

#swup.site-content-contain {
    background: $black !important; //HACK: doing this to make the background black
}


div#content {
    div.wrap-post {
        background: white;
        position: relative;
        top: -200px;

        @include breakpoint(phone) {
            top: 0;
        }

        z-index: 5;
        border-radius: 2px;
        // box-shadow:
        //     0 7px 10px 0 rgba(0, 0, 0, 0.3),
        //     5px 10px 10px 0 rgba(0, 0, 0, 0.1),
        //     10px 12px 8px rgba(0, 0, 0, 0.09),
        //     1px 6px 13px 0px rgba(0, 0, 0, 0.09) !important;

        #primary.content-area {
            width: 100% !important;
            float: none;
        }
    }
}



div.entry-content {

    // background: white;
    // position: relative;
    // top: -100px;
    // z-index: 5;

    &>h2 {
        background: $black;
        display: inline-block;
        color: white;
        font-weight: 500;
        padding: .2em;
        padding-right: 2em;
        padding-left: 3em;
        margin-left: -5em;
        margin-bottom: -60px;
        position: relative;
        top: -50px;
        font-size: 2.5em;
        font-weight: 600;
        @include block-subheading(3px, 5px, 15px);
        // @include text3D-2;

        @include breakpoint(phone) {
            margin-left: 0;
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    h3 {

        background: $black;
        display: inline-block;
        color: white;
        font-weight: 500;
        padding: .15em;
        padding-right: 0.5em;
        padding-left: .9em;
        margin-left: -1em;
        position: relative;
        font-size: 2em;
        @include block-subheading(2px, 2px, 5px);
    }
}

.ab-block-container.container-1 {
    @include border-it(red);

}