a.wp-block-button__link {
    border-radius: 0px !important;
    background: $black !important; //determined elsewhere
    @include block-subheading(2px, 2px, 10px);

    &:focus,
    &:hover {
        background: rgb(40, 40, 40) !important;


    }
}